
<ul class="faul">

  <h3>Calendar</h3>

<li>
  <a href="archive.html" data-toggle="tooltip" title="September's archive">
    <i class="fa fa-link fa-inverse"></i> September
  </a>
</li>
<li>
  <a href="archive_august.html" data-toggle="tooltip" title="August's archive">
    <i class="fa fa-link fa-inverse"></i> August
  </a>
</li>
<li>
  <a href="archive_july.html" data-toggle="tooltip" title="July's archive">
    <i class="fa fa-link fa-inverse"></i> July
  </a>
</li>
<li>
  <a href="archive_june.html" data-toggle="tooltip" title="June's archive">
    <i class="fa fa-link fa-inverse"></i> June
  </a>
</li>
<li>
  <a href="archive_may.html" data-toggle="tooltip" title="May's archive">
    <i class="fa fa-link fa-inverse"></i> May
  </a>
</li>
<li>
  <a href="archive_april.html" data-toggle="tooltip" title="April's archive">
    <i class="fa fa-link fa-inverse"></i> April
  </a>
</li>
<li>
  <a href="archive_march.html" data-toggle="tooltip" title="March's archive">
    <i class="fa fa-link fa-inverse"></i> March
  </a>
</li>

</ul>

