<ul class="faul">

    <h2 id="listen">Listen</h2>

    <li>
        <a class="link-button secondary" href="{{ site.icecast }}/glasto.m3u" id="m3u-url" data-toggle="tooltip" target="_blank" title="Play live stream via playlist">
            m3u
        </a>
    </li>


    <li>
        <a class="link-button secondary" href="{{ site.icecast }}/glasto" id="direct-url" data-toggle="tooltip" target="_blank" title="Play live stream directly">
            Direct
        </a>
    </li>

    <li>
        <a class="link-button secondary" href="{{ site.url }}/help.html" data-toggle="tooltip" title="Get help with audio streaming">
            Help
        </a>
    </li>

</ul>