
<ul class="faul">

  <h3>Listen</h3></p>

<li>
  <a href="{{ site.icecast }}/glasto.m3u" id="m3u-url" data-toggle="tooltip" target="_blank" title="Play live stream via playlist">
    <i class="fa fa-play-circle-o fa-inverse"></i> m3u
  </a>
  <i class="fa fa-copy" onclick="$('div#m3u-copy').toggle()"
     data-toggle="tooltip" title="Copy URL (to paste into your media player, such as VLC)" ></i>
  <div id="m3u-copy" class="copy-from">
    <textarea id="m3u-ta">{{ site.icecast }}/glasto.m3u</textarea>
    <button onclick="$('textarea#m3u-ta').select();document.execCommand('copy');$('i#m3u-check').show()">copy to clipboard</button>
    <i class="fa fa-check fa-inverse" id="m3u-check" style="display: none"></i>
  </div>
</li>


<li>
  <a href="{{ site.icecast }}/glasto" id="direct-url" data-toggle="tooltip" target="_blank" title="Play live stream directly">
    <i class="fa fa-play-circle-o fa-inverse"></i> direct
  </a>
  <i class="fa fa-copy" onclick="$('div#direct-copy').toggle()"
     data-toggle="tooltip" title="Copy URL (to paste into your media player, such as VLC)" ></i>
  <div id="direct-copy" class="copy-from">
    <textarea id="direct-ta">{{ site.icecast }}/glasto</textarea>
    <button onclick="$('textarea#direct-ta').select();document.execCommand('copy');$('i#m3u-direct').show()">copy to clipboard</button>
    <i class="fa fa-check fa-inverse" id="m3u-direct" style="display: none"></i>
  </div>
</li>

<li>
  <a href="{{ site.url }}/help.html" data-toggle="tooltip" title="Get help with audio streaming">
    <i class="fa fa-question-circle fa-inverse"></i> help
  </a>
</li>

</ul>

