<!-- <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <i class="fa fa-bars fa-lg"></i>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/" title="HOME">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        {% for page in site.pages %}{% if page.in_navbar %}
        <li>
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
        {% endif %}{% endfor %}
      </ul>
    </div>

  </div>
</nav> -->