---
layout: page
title:
description: "Glastonauts' community lockdown radio"
header-img: "assets/owner/hero/home-header-bg.png"
header-logo-img: "assets/owner/hero/home-header-fg.png"
footer-img: "assets/owner/hero/footer-bg.png"
footer-logo-img: "assets/owner/tertiary_logo.svg"
permalink: ./index.html
---

    <div id="myradiodivcontainer" style='height:85px; width:100%;
    -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border: 0px none rgb(255, 255, 255);
      margin-top: 80px;
      margin-bottom: 40px';
      >
    </div>

    <script>
      function getRndInteger(min, max) {
          return Math.floor(Math.random() * (max - min + 1)) + min;
      }
      var analyzer = getRndInteger(1,8); 
      $("#myradiodivcontainer").flashradio({
        token: "aG1idHVwb2J2dXQvbWp3ZgE=",
        userinterface: "small",
        bigcoverstyle: "circle",
        backgroundcolor: "#2F6C9A",
        themecolor: "#349FA6",
        themefontcolor: "#ffffff",
        startvolume: "100",
        radioname: "glastonauts.live",
        scroll: "auto",
        autoplay: "false",
        useanalyzer: "real",
        analyzertype: analyzer.toString(),
        usecover: "true",
        usestreamcorsproxy: "false",
        getcoveroverradioco: "true",
        affiliatetoken: "1000lIPN",
        debug: "false",
        ownsongtitleurl: "",
        radiocover: "assets/owner/glastonauts_logo.svg",
        songgooglefontname: "Rubik:300",
        // songfontname: "Open Sans",
        titlegooglefontname: "Rubik:300",
        // titlefontname: "Open Sans", 
        corsproxy: "php",
        streamprefix: "",
        mountpoint: "/glasto",
        radiouid: "",
        apikey: "",
        radiojar: "",
        radioco: "",
        streamid: "1",
        streampath: "/live",
        streamtype: "icecast2",
        streamurl: "http://glastonauts.live:8000",
        songinformationinterval: "10000",
      });
    </script>
<!-- intro -->
<div class="intro">
  <div class="flex-grid">

    <div class="flex-col schedule">
      <h2>Line Up</h2>
      {% capture my_include %}{% include schedule.md %}{% endcapture %}
      {{ my_include | markdownify }}

    </div>  


    <div class="flex-col links">
      {% include links.html %}
    </div>  
 
  </div>
</div>
