---
layout: page
title: "Glastonauts"
description: "Community lockdown radio"
header-img: "assets/owner/hero/home-header-bg.png"
header-logo-img: "assets/owner/hero/home-header-fg.png"
footer-img: "assets/owner/hero/footer-bg.png"
footer-logo-img: "assets/owner/tertiary_logo.svg"
permalink: ./index.html
header-class: "schedule-header"
---

    <div id="myradiodivcontainer" style='height:85px;
    -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border: 0px none rgb(255, 255, 255);'
      >
    </div>

    <script>
      function getRndInteger(min, max) {
          return Math.floor(Math.random() * (max - min + 1)) + min;
      }
      var analyzer = getRndInteger(1,8); 
      $("#myradiodivcontainer").flashradio({
        token: "aG1idHVwb2J2dXQvbWp3ZgE=",
        userinterface: "small",
        bigcoverstyle: "circle",
        backgroundcolor: "#2F6C9A",
        themecolor: "#349FA6",
        themefontcolor: "#ffffff",
        startvolume: "100",
        radioname: "glastonauts.live",
        scroll: "auto",
        autoplay: "false",
        useanalyzer: "real",
        analyzertype: analyzer.toString(),
        usecover: "true",
        usestreamcorsproxy: "false",
        getcoveroverradioco: "true",
        affiliatetoken: "1000lIPN",
        debug: "false",
        ownsongtitleurl: "",
        radiocover: "assets/owner/glastonauts_logo.svg",
        songgooglefontname: "Rubik:300",
        titlegooglefontname: "Rubik:300",
        corsproxy: "php",
        streamprefix: "",
        mountpoint: "/glasto",
        radiouid: "",
        apikey: "",
        radiojar: "",
        radioco: "",
        streamid: "1",
        streampath: "/live",
        streamtype: "icecast2",
        streamurl: "https://glastonauts.live/stream",
        songinformationinterval: "10000",
      });
    </script>
<!-- intro -->
<div class="schedule-container">
  <div class="flex-grid">

    <div class="flex-col schedule">
      <h2 id="lineup">Line Up</h2>
      {% capture my_include %}{% include schedule.md %}{% endcapture %}
      {{ my_include | markdownify }}

      <div style="margin-top: 30px;">
        <a class="link-button primary" href="archive.html" id="direct-url" data-toggle="tooltip" target="_blank"
        title="To the archives"> To the archives </a>
      </div>

    </div>  


    <div class="flex-col links">
      {% include links.html %}
    </div>  
 
  </div>
</div>
