---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container-fluid">
        <div class="row" style="margin-right: 0;">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
        <div class="row" style="margin-right: 0;">
            <div class="subheading">
                {{ page.description }}
        </div>
    </div>

<!-- Main Content -->
<div class="container-fluid container-body">
	<div class="row" style="margin-right: 0; padding-left: 15px;">
		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<br>

